{% extends "base.html" %}
{% block render_body %}
{% load static %}
{% load tz %}
<link rel="stylesheet" href="{% static 'task/css/create.css' %}">

<div class="top_section">
    <h1 class="section_title">{{ title }}</h1>
    <hr>
</div>



<section class="d-flex justify-content-center align-items-center">
    
    <div class="card" style="min-width: min(100%, 450px);">
        <div class="card-body">
            <form action="{% url 'task_create' %}" method="post" class="task_form" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-control">
                    <input type="submit" value="Create" class="btn btn-primary">
                    <a href="{% url 'home' %}" class="btn btn-danger">Close</a>
                </div>
            </form>
        </div>
    </div>
    
</section>

{% endblock render_body %}