{% extends "base.html" %}

{% block render_body %}
{% load static %}
<link rel="stylesheet" href="{% static 'task/css/detail.css' %}">

<section class="top_section">
    <h1 class="section_title">Task - Detail</h1>
    <hr>
</section>

<div class="main_task_detail">

    <div class="check_box">
        <h2 class="second_title">List of checked members</h2>
        <hr>
        <div class="flex_box">
            <div class="member_list_box">
                {% if item.check_set.all %}
                    <table class="table table-bordered table-stripped">
                        <thead class="bg-white text-secondary">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Time Checked</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for enroller in item.check_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ enroller.user.first_name }} {{ enroller.user.last_name }}</td>
                                <td>{{ enroller.user.email }}</td>
                                <td>{{ enroller.time_checked|date:'H:i' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                <div style="padding: 0 2rem;">
                    <p class="error_message">No have any member.</p>
                </div>
                {% endif %}
            </div>
            <div class="control_box">
                {% if item.owner.id != user.id %}
                    {% if is_enrolled %}
                    <div class="success_message">Enrolled</div>
                    {% else %}  
                    <button id="btn_enroll" class="btn btn-success">Check to enroll</button>
                    {% endif %}
                {% endif %}
                <span id="message"></span>
                <div class="scroll">
                    <div class="task_info_box">
                        <div class="task_field_group">
                            <label for="">Key</label>
                            <p>{{ item.key }}</p>
                        </div>
                        <div class="task_field_group" style="flex: 2;">
                            <label for="">Content</label>
                            <p>{{ item.name }}</p>
                        </div>
                        <div class="task_field_group">
                            <label for="">Date Opening</label>
                            <p>{{ item.date_opening|date:'Y-m-d' }}</p>
                        </div>
                        <div class="task_field_group">
                            <label for="">Time</label>
                            <p>{{ item.start_time|date:'H:i' }} - {{ item.end_time|date:'H:i' }}</p>
                        </div>
                        <div class="task_field_group">
                            <label for="">Owner</label>
                            <p>{{ item.owner.email }}</p>
                        </div>
                        <div class="task_field_group">
                            <label for="">Date created</label>
                            <p>{{ item.date_of_created|date:'Y-m-d' }}</p>
                        </div>
                    </div>
                </div>
                <a href="?quit" class="btn btn-danger error_message">Quit</a>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function(){

        $("#btn_enroll").click(function(e){

            $.ajax({
                url: "{% url 'task_enroll' item.id %}",
                method: "GET",
                success: function(data){
                    $("#message").attr('class', 'success_message').text(data);
                },
                error: function(data){
                    $("#message").attr('class', 'error_message').text(data.responseText);
                }
            })

        });

    });

</script>

{% endblock render_body %}