{% extends "base.html" %}

{% block render_body %}
{% load static %}
<link rel="stylesheet" href="{% static 'task/css/password.css' %}">

<section class="top_section">
    <h1 class="section_title">Enter password</h1>
    <hr>
</section>

<form action="" method="post">
    {% csrf_token %}
    {% if error %}
    <span class="text_error">{{ error }}</span>
    {% endif %}
    <input class="input_box" id="input_box" type="password" name="password">
    <div class="btn_group">
        <span class="eye" title="Show Password">
            <ion-icon id="eye-off" name="eye-off-outline"></ion-icon>
            <ion-icon id="eye-on" name="eye-outline"></ion-icon>
        </span>
        <input class="btn btn-primary btn-submit" type="submit" value="Send">
    </div>
</form>

<script>

    $(document).ready(function(){

        $('#eye-off').hide();
        let visiblePwd = false;
        $('span.eye').click((e) => {
            if(visiblePwd) visiblePwd = false; else visiblePwd = true;
            if(visiblePwd) {
                $('#eye-off').show();
                $('#eye-on').hide();
                document.getElementById("input_box").type = "text";

            } else {
                $('#eye-on').show();
                $('#eye-off').hide();
                document.getElementById("input_box").type = "password";
            }
        });

    });

</script>

{% endblock render_body %}