{% extends "base.html" %}

{% block render_body %}
{% load static %}
<link rel="stylesheet" href="{% static 'task/css/password.css' %}">

<section class="top_section">
    <h1 class="section_title">Enter password</h1>
    <hr>
</section>

<form action="" method="post">
    {% csrf_token %}
    {% if error %}
    <span class="text_error">{{ error }}</span>
    {% endif %}
    <input class="input_box" type="password" name="password">
    <div class="text-right">
        <input class="input_sub btn btn-primary" type="submit" value="Send">
    </div>
</form>

<script>

    $(document).ready(function(){

        

    });

</script>

{% endblock render_body %}