@import url("/static/home/css/index.css");

.top_section {
    padding: 1rem 0;
}

.main_task_create {
    font-size: 16px;
    background-color: white;
    padding: calc(1.2vw);
    width: 500px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid blue;
}

@media only screen and (max-width: 600px) {
    .main_task_create {
        background-color: transparent;
        position: static;
        transform: unset;
        margin-top: 1rem;
        border: none;
    }
}

.task_form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

p, input, label {
    margin-bottom: 0;
}

p {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.errorlist {
    background-color: var(--danger);
    font-weight: 600;
    color: white;
    font-size: 1.3rem;
    padding: .5rem;
}

label {
    font-weight: 600;
}

.main_task_create input, .main_task_create a {
    padding: .5rem;
    font-size: 16px !important;
    outline: none;
    border: 1px solid #2cccff;
}

.btn-control {
    margin-top: 1rem;
    display: flex;
}


@media only screen and (max-height: 600px) {
    .main_task_create input, .main_task_create a {
        font-size: 1rem;
        padding: 0 !important;
    }
}