@import url("/static/home/css/index.css");

.top_section {
    padding: 1rem 0;
}

label {
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .card {
        background-color: transparent;
        position: static;
        transform: unset;
        margin-top: 1rem;
        border: none;
    }
}

.task_form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

p, input, label {
    margin-bottom: 0;
}

p {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.errorlist {
    background-color: var(--danger);
    font-weight: 600;
    color: white;
    font-size: 1.3rem;
    padding: .5rem;
}

.card input, .card a {
    padding: .5rem;
    font-size: 16px !important;
    outline: none;
    border: 1px solid #2cccff;
}

.btn-control {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-control > * {
    font-weight: bold;
}


@media only screen and (max-height: 600px) {
    .card input, .card a {
        font-size: 1rem;
        padding: 0 !important;
    }
}