.top_section {
    padding: 1rem 0;
}

.task_info_box {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: gold;
    gap: 1px;
    width: 100%;
    border: 1px solid gold;
    border-radius: 5px;
}

.task_field_group {
    flex: 1;
    min-width: 200px;
    padding: 1rem calc(1rem + .5vw);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background-color: #FFFEA9;
}

.task_field_group > label {
    font-weight: 600;
    color: var(--primary);
}

.task_field_group > p {
    font-family: sans-serif;
}


.second_title {
    color: var(--success);
}

.member_list_box {
    font-size: 14px;
    padding: 1rem;
    overflow: auto;
}

.flex_box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.control_box {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.control_box * {
    font-size: 14px;
}

.flex_box > * {
    flex: 1;
    min-width: min(300px, 100%);
}

#btn_enroll {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.scroll {
    overflow: auto;
}

.success_message, .error_message {
    padding: .8rem 1rem;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #2cccff;
}

.success_message {
    background-color: var(--success);
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.error_message {
    color: var(--red);
}