.top_section {
    padding: 1rem 0;
}

.taskbar {
    padding: .5rem 0;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .taskbar {
        justify-content: space-around;
    }
}

.taskbar ._link {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    padding-right: 1.5rem;
    color: white;
    border-radius: 3px;
}

.bg_create {
    background-color: rgb(26, 108, 218);
}

.bg_join {
    background-color: var(--success);
}

.bg_home {
    background-color: var(--danger);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: cyan;
}

.taskbar ._link:hover {
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 5px 2px #2cccff;
}

.main_task_index {
    background-color: #FFFEA9;
    padding: 0 15px;
}

.search_box {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    padding: 1rem;
    align-items: flex-end;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #2cccff;
}

form .help_text{
    font-size: 12px;
    text-align: left;
    align-self: flex-start;
}

.search {
    font-size: 14px;
    font-family: 'Times New Roman';
    border-radius: 0;
    letter-spacing: .1rem;
}

.task_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 14px;
}

.task_item {
    flex: 1;
    min-width: min(250px, 100%);
    max-width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    border-radius: 5px;
}

.task_item:hover {
    box-shadow: 0 0 5px 1px #2cccff;
}

.main_task_index .list-group-item {
    padding: .5rem 1rem;
}

.main_task_index .list-group-item:first-child {
    flex: 1;
}

.main_task_index .list-group-item:not(.list-group-item:first-child) {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
}

.__br {
    border-right: 1px solid rgba(26, 108, 218, .2);
}


.pagination {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
}

.pagination_bar {
    padding: .5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.pagination_link {
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    background-color: white;
    color: black;
    border: 1px solid #2cccff;
}

.pagination_link:hover {
    text-decoration: none;
    box-shadow: 0 0 3px 1px #2cccff;
    color: currentColor;
}

.page_link_active {
    background-color: rgb(26, 108, 218);
    color: white;
}

.page_link_fl {
    background-color: var(--cyan);
    color: white;
}

/* override class close */
.alert-dismissible .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}